<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.lego.template.map_screen">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_map_screen">
        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>

